form {
    display: none;
}

body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    color:brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:coral;
}

td {
    width:20px;
    height:20px;
    border: 1px solid black;
    text-align: center;
    font-size: medium;
}